.dropdown {
    width: 99%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputCity {
    font-size: 16px;
    text-align: center;
    height: 35px;
    width: 310px;
    outline: none;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgba(191, 210, 218, 0.9);
    position: relative;
    margin-left: 5px;
}

#list {
    margin-top: 15px;
    z-index: 5;
    margin-left: 5px;
    width: 310px;
    opacity: 1;
    position: absolute;
    top: 20px;
    background-color: rgb(179, 211, 225);
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    max-height: 196px;
    overflow-y: scroll;
    display: none;

}

#list.visible {
    display: block;
}

#list::-webkit-scrollbar {
    border-radius: 5px;
    width: 15px;
    background-color: rgb(172, 168, 168);
}

#list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(144, 196, 215);
}

.list-item {
    padding: 10px;
    transition: 300ms all;
}

.list-item:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(144, 196, 215);
    border-radius: 10px;
    cursor: pointer;
}