.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    border-radius: 20px;
    width: 350px;
}