.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 360px;
}