.days {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(191, 210, 218, 0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    width: 96%;
    height: 85px;
    padding: 3px 0;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 46px;
    border-radius: 10px;
    transition: 300ms;
    margin: 1px;
    font-size: 12px;
}

.day img {
    width: 40px;
}

.day:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
}

.day.active {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .2);
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}