.content {
    display: flex;
    flex-direction: column;
    width: 96%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    background-color: rgba(191, 210, 218, 0.9);
}

.dayContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(191, 210, 218, 0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    height: 380px;
    width: 100%;
}

.day-info {
    margin: 12px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.day-info.city {
    font-size: 32px;
    min-height: 35px;
    max-height: 37px;
    width: 300px;
    overflow: hidden;
}

.day-info.temp {
    display: flex;
    justify-content: space-between;
    text-align: center;
}