.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .8);
}

.dayContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    height: 380px;
    width: 100%;
}

.day-info {
    margin: 12px;
    width: 60%;
    display: flex;
    justify-content: center;
}   

.day-info.city {
    font-size: 32px;
}

.day-info.temp {
    display: flex;
    justify-content: space-between;
}